
.niemtin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    text-align: center;
    img.matcuoiimg {
        height: 252px;
        width: 252px;
        display: block;
        margin: 0 auto;
    }
}